# PostgreSQL (shared credentials for all DBs)
POSTGRES_USER=ticketing_user_placeholder
POSTGRES_PASSWORD=ticketing_password_placeholder

# ms-events database
EVENTS_DB_NAME=events_db_placeholder
EVENTS_DB_PORT=5433
EVENTS_DATASOURCE_URL=jdbc:postgresql://db-events:5432/events_db_placeholder
EVENTS_DATASOURCE_USERNAME=ticketing_user_placeholder
EVENTS_DATASOURCE_PASSWORD=ticketing_password_placeholder

# ms-events app
EVENTS_PORT=8081

# ms-ticketing database
TICKETING_DB_NAME=ticketing_db_placeholder
TICKETING_DB_PORT=5434
TICKETING_DATASOURCE_URL=jdbc:postgresql://db-ticketing:5432/ticketing_db_placeholder
TICKETING_DATASOURCE_USERNAME=ticketing_user_placeholder
TICKETING_DATASOURCE_PASSWORD=ticketing_password_placeholder

# ms-ticketing app
TICKETING_PORT=8082

# ms-notifications database
NOTIFICATIONS_DB_NAME=notifications_db_placeholder
NOTIFICATIONS_DB_PORT=5435

# ms-notifications app
NOTIFICATIONS_PORT=8083

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

# api-gateway
GATEWAY_PORT=8080
MS_EVENTS_URL=http://ms-events:8081
MS_TICKETING_URL=http://ms-ticketing:8082
MS_NOTIFICATIONS_URL=http://ms-notifications:8083
